!!!
- @items = chapters
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      #{@item[:title]}
      - if @item[:title] != 'Clojure for the Brave and True, an Online Book for Beginners'
        | Clojure for the Brave and True
    %link{:href => relative_path_to("/stylesheets/documentation.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => relative_path_to("/stylesheets/pygments.css"), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => 'http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic|Open+Sans:400,800', :rel => 'stylesheet', :type => 'text/css'}/
  %body{"data-spy" => "scroll", "data-target" => "nav"}
    %header{:role => "banner"}
      .title
        %a{:href => "/"}
          Clojure
          %span for the
          Brave
          %span and
          True
      .subtitle
        ( a Book for Beginners )
    .announcement
      .signup
        %form#mc-embedded-subscribe-form.validate{:action => "http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;id=0b40ffd1e1", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          Spending your nights pining for the next chapter of <em>Clojure for the Brave and True</em>? Then follow <a href="https://twitter.com/nonrecursive">@nonrecursive</a> or submit this: 
          %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
          %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Get Updates"}/
    .page
      .content
        = find_and_preserve(yield)
        .pagenav.bottom
          - count = @items.size
          - index = @items.index(@item)
          - if index
            - if index != 0
              - i = @items[index - 1]
              .prev
                %a{:href => relative_path_to(i)}
                  &larr;
                  = i[:link_title]
            - if i = @items[index + 1]
              .next
                %a{:href => relative_path_to(i)}
                  = i[:link_title]
                  &rarr;
          
        #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'clojureforthebraveandtrue'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();

    
      %nav
        .sticky
          %a{:href => "https://twitter.com/share", :class => "twitter-share-button"}tweet bravely and truly
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs')

          %iframe{:src => "http://ghbtns.com/github-btn.html?user=flyingmachine&repo=brave-clojure-web&type=fork", :width => "62", :height => "20"}

          %form#search{:action => "/search/"}
            %input#tipue_search_input{:name => "q", :type => "search", :placeholder => "Search"}
          %h2 Table of Contents
          #toc.nav
            %ol
              - chapters.each do |i|
                %li{:class => (i == @item ? "active-section" : "")}
                  = link_to i[:link_title] || i[:title], relative_path_to(i), :class => (i == @item ? "active" : "")
    %footer
      .signup
        %form#mc-embedded-subscribe-form.validate{:action => "http://flyingmachinestudios.us1.list-manage.com/subscribe/post?u=60763b0c4890c24bd055f32e6&amp;id=0b40ffd1e1", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
          Spending your nights pining for the next chapter of <em>Clojure for the Brave and True</em>? Then follow <a href="https://twitter.com/nonrecursive">@nonrecursive</a> or submit this: 
          %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
          %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Get Updates"}/
        %p Found a mistake? I'd love to hear it! Please email <a href="mailto:brave-clojure@googlegroups.com">the development mailing list</a>
    %script{ :src => "http://code.jquery.com/jquery-1.7.2.min.js" }
    %script{ :src => relative_path_to("/javascripts/underscore.js") }
    %script{ :src => relative_path_to("/javascripts/scrollspy.js") }
    %script{ :src => relative_path_to("/javascripts/jquery.sticky.js") }
    %script{ :src => relative_path_to("/javascripts/application.js") }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43463851-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

